#sec { 
    height: 30em;
    background-color: white;
    margin-top: 1px;
}
#head1{
width: 20%;
background-color: teal;
height: 100%;
float: left;
}
#head2{
width: 60%;
background-color: cornflowerblue;
height: 100%;
float: left;
}
#head3{
    background-color: slategray;
    height: 100%;

}
#foo{
    width: 100%;
    height: 60px;
    background-color: rosybrown;
}
